.Nutrition{
    &__items{
        margin-bottom: 0.5rem;
        background: rgba(0,0,0, .7);
        display: flex;
        justify-content: space-between;
        .cls{
            font-size: 0.5rem;

        }
    }
    &__descr{
        flex-basis: 80%;
        padding: 0.5rem;
        font-size: 1.5rem;
    }
   
}