.Pages {
    box-sizing: border-box;
    margin-top: 1.5rem ;
    background: rgba(58, 57, 57, 0.336);
    color: #fff;
    height: 48rem;
    padding: 1rem;
    overflow: hidden;
    position: relative;
}